/* -- Fonts -- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,700;0,900;1,100;1,200;1,300;1,700;1,900&display=swap');

/* -- Global styles - Variables -- */
:root {

--ff-fontfamily: 'Poppins', sans-serif;
--ff-fontweight-thin: 100;
--ff-fontweight-exLight: 200;
--ff-fontweight-light: 300;
--ff-fontweight-medium: 500;
--ff-fontweight-bold: 700;
--ff-fontweight-black: 900;

--ff-fontsize-h1: calc(1rem + 10vw);
--ff-fontsize-h2: 2rem;
--ff-fontsize-p: 0.75rem;

--primary-clr: hsl(214, 86%, 34%);
--secondary-clr: hsl(33, 93%, 54%);
--secondary-clr-lgt: hsl(33, 93%, 65%);
--font-clr: hsl(0, 0%, 5%);
--accent-clr-grey:hsl(190, 11%, 58%);

/* -- LAYOUT CONTROL WIDTH AND MARGIN-- */

--outer-container-size: 100%;
--inner-container-size: 768px;
--inner-container-margin: 1.25em;
--padding-section: 6.25em;

/* -- ANIMATION -- */
scroll-behavior: smooth;
--animation-transition:all 0.35s ease-in-out;

}

/* -- CSS RESET -- */

*, *::before, *::after {
    box-sizing: border-box;
  }

* {
margin: 0px;
padding: 0px;
line-height: calc(1em + 0.5rem);
}

body {

font-family: var(--ff-fontfamily);
font-weight: var(--ff-fontweight-light);
color: var(--primary-clr);
-webkit-font-smoothing: antialiased;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

input, button, textarea, select {
    font: inherit;
    
  }

img, picture, video, canvas, svg {
display: block;
max-width: 100%;
}


/* -- TYPOGRAPHY -- */
/* a {
  color: var(--accent-clr-grey);
  font-weight: var(--ff-fontweight-bold);
  transition: var(--animation-transition);
  text-decoration: none;
} */

/* -- LAYOUT STYLING -- */

body {
  background-color: var(--primary-clr);
  min-height: 100vh;
  display: flex;
}

.outer-container {
  width: var(--outer-container-size);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* border: 1px dashed rgb(119, 80, 80); */
  margin: 5rem 0;
  
}

.inner-container {
  background-color: rgb(255, 255, 255);
  flex-basis: var(--inner-container-size);
  flex-grow: 0;
  flex-shrink: 1;
  margin: 0px var(--inner-container-margin);
  border-radius: 1rem;
  /* border: 1px dashed blue; */
  padding-bottom: 2rem;
  box-shadow:
  0px 1.9px 40.6px -28px rgba(0, 0, 0, 0.061),
  0px 5.1px 46.6px -28px rgba(0, 0, 0, 0.688),
  0px 12.4px 56.9px -28px rgba(0, 0, 0, 0.8),
  0px 41px 72px -28px rgba(0, 0, 0, 0.5);
}


/* -- HEADER MAIN -- */

.topbar-dashboard {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 1rem;
}

.logo {
  width: 150px;
  max-width: 180px;
}

.number-count {
  flex-basis: 2;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  
}

.numbers__stock {
  font-weight: var(--ff-fontweight-bold);
  color: aliceblue;
  width: 8rem;
  padding: 0.5rem 1.25rem;
  border-radius: 4px;
}

.numbers__stock > span {
  font-size: 1.25rem;
}

.stock-green {
  background-color: hsl(120, 100%, 35%);
}

.stock-green, .stock-blue, .stock-red p {
  font-size: 0.75rem;
} 

.stock-blue {
  background-color: hsl(240, 100%, 65%);
} 

.stock-red {
  background-color: hsl(0, 100%, 65%);
}


.dashboard-filter {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 1rem 1rem;
  border-bottom: 2px solid var(--secondary-clr);
  gap: 1rem;
}

.btn-filter {
  cursor: pointer;
  font-weight: var(--ff-fontweight-bold);
  letter-spacing: 2px;
  text-transform:uppercase;
  font-size: 0.65rem;
  color: hsl(240, 100%, 65%);
  padding: 0.5em 1.5em;
  border-radius: 4px;
  background-color: hsl(240, 100%, 100%);
  border: 2px solid hsl(240, 100%, 65%);
  transition: var(--animation-transition);
}

.btn-filter:is(:hover, :active) {
  color: hsl(240, 100%, 100%);
  background-color: hsl(240, 100%, 65%);
}



/* -- SECTION content-dasboard -- */

.content-list-tv {
  height:25rem;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.content-dashboard {
  position: relative;
}

.content-dashboard::after {
  position: absolute;
  z-index: 2;
  content: '';
  background: linear-gradient(
    to top,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0)
  );
  width: 100%;
  height: 1rem;
  bottom:0px;
}

.list-wrapper {
  padding: 2rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.list-wrapper p:not(.tv-type) {
  font-size: 0.85rem;
  color: hsl(240, 100%, 65%);
 
}

.list-wrapper:nth-child(odd) { 
  background: var(--secondary-clr-lgt); 
}

.tv-image {
  max-width: 200px;
}

.tv-spec {
  justify-content: center;
  flex-basis: 250px;
}

.tv-title {
  font-size: 2.5rem;
  color: hsl(240, 100%, 65%);
}

.tv-price {
  font-weight: var(--ff-fontweight-bold);
  font-size: 2rem;
  color: rgb(63, 62, 62);
}



/* ----------------------------- MEDIA QUERIES MOBILE--------------------------- */

@media only screen and (max-width: 480px)  {

  .list-wrapper, .dashboard-filter {
    display: flex;
    flex-wrap: wrap-reverse;
   }

   .btn-filter {
    width: 100%;
   }

  
  .content-list-tv {
  height:unset;
  overflow: unset;
  }

  .outer-container {
    margin: unset;
  }

  .inner-container {
    margin: unset;
    border-radius: unset;
  }

  .numbers__stock {
    
    width: 100%;
    
  }

 
}